.DS_Store
node_modules
/build
/.svelte-kit
/package
functions
/posts-data/*.json
.firebaserc
firebase.json
static/moments/*
.git
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
